@import 'https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Pacifico|Source+Sans+Pro:300,400,600,700';

body {
    background: rgb(160, 200, 170);
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}
main {
    flex: 1 0 auto;
}
a {
  color: rgb(31, 171, 65);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.background {
    background-image: url('/assets/trees/tree5.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    z-index: -1;
    filter: blur(2px);
}
header {
    background: rgb(240,240,240);
    padding: 0 5px;
    text-align: center;
}
nav {
    display: inline-block;
    width: 100%;
    max-width: 960px;
    text-align: left;
}
nav a {
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    transition: background 0.2s;
    color: black;
    font-size: 1.5em;
}
nav a:hover {
    text-decoration: none;
}
nav .logo {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  padding-top: 0;
}
nav .logo span {
  font-family: 'Montserrat Alternates', sans-serif;
}
nav .logo:hover {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
nav .logo:hover i {
  color: #306f3f;
  text-shadow: none;
}
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  font-weight: normal;
}
h1 span {
  text-decoration: underline;
}
h3 {
  font-size: 2.5em;
  margin-top: 0px;
  font-weight: 100;
  margin-bottom: 10px;
}
h1.headline {
  margin-top: 0;
  margin-bottom: 10px;
}
.head-text {
  padding: 50px;
  background: rgb(250,250,250);
  border: 5px solid #e2e2e2;
}
@media(max-width: 900px){
  h1.headline {
    font-size: 2em;
  }
  h3.subline {
    font-size: 1.5em;
  }
  .head-text{
    padding: 20px;
  }
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    padding: 0 20px;
    box-sizing: border-box;
}
.floaty-content-box {
    background: rgb(250,250,250);
    box-sizing: border-box;
    border: 5px solid #e2e2e2;
    padding: 60px;
    margin-bottom: 25px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2), 0 3px 2px rgba(0,0,0,0.2);
}
.center-text {
  text-align: center;
}
@media (max-width:900px) {
  .floaty-content-box {
    width: 100%;
    padding: 20px;
  }
}
.floaty-content-box h1:first-of-type {
  margin-top: 0;
}
.pitch {
  background: rgb(250,250,250);
}
.columns {
  display: flex;
  justify-content: space-around;
}
@media(max-width:900px){
  .columns {
    flex-direction: column;
  }
}
.columns .box {
  padding: 20px;
  width: 33.33%;
}
.prelaunch-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 275px);
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
@media(max-width: 900px){
  .prelaunch-container {
    min-height: 500px;
  }
}
.launch-logo {
  max-width: 300px;
}
.sign-up-bar {
  width: 100%;
  padding: 40px 20px;
  background: rgba(51, 51, 51, 0.9);
  color: white;
  box-sizing: border-box;
  text-align: center;
}
.sign-up-bar h2 {
  margin-top: 0;
}
.prelaunch-form input {
    width: 350px;
    max-width: 100%;
    padding: 12px;
    font-size: 1.2em;
    box-sizing: border-box;
    border: none;
    text-align: center;
}
@media(max-width: 900px){
  .prelaunch-form input {
    width: 100%;
    margin-bottom: 10px;
  }
}
button {
    padding: 12px;
    font-size: 1.2em;
    background: rgb(77, 152, 95);
    color: white;
    outline: none;
    border: 0;
    padding: 12px 12px;
    cursor: pointer;
}
button:hover {
  background: #306f3f;
}
input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  max-width: 250px;
  padding: 5px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  margin-bottom: 10px;
}
input[type="text"]:focus {
  outline: none;
}
textarea {
  display: block;
}
footer {
  background: rgba(51, 51, 51, 1);
  font-size: 0.9em;
  text-align: center;
  color: white;
  padding: 15px 20px;
}
footer a {
  color: rgb(154, 216, 169);
}
footer.floaty-content-box {
  margin-bottom: 0;
}
.cookieNotice {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-size: 0.75em;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: rgba(51, 51, 51, 0.3);
  border: 1px solid rgb(77, 152, 95);
  color: white;
  padding: 10px;
  transition: all .3s ease;
}
.cookieNotice:hover {
  background: rgba(51, 51, 51, 1);
  border-color: #306f3f;
}
.cookieNotice span {
  padding: 5px 10px;
  background: rgb(77, 152, 95);
  margin-left: 15px;
  cursor: pointer;
}
.cookieNotice span:hover {
  background: #306f3f;
}
@media(max-width: 900px){
  .cookieNotice {
    width: 100%;
    background: rgba(51, 51, 51, 0.9);
    text-align: center;
    bottom: 0;
    left: 0;
  }
}
.hidden {
  opacity: 0;
}
.sales-container {
  width: 80%;
  margin: 0 auto;
}
.trees {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.trees .tree-size {
  width: 16.6%;
}
@media(max-width:900px){
  .trees .tree-size {
    width: 33.3%;
  }
}
@media(max-width:600px){
  .trees .tree-size {
    width: 50%;
  }
}
.pickup-place img {
  width: 100%;
}

.pickup-place {
  width: 25%;
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  background: #e6b6b6;
}

/* FORM STUFF */
.control-group {
  text-align: left;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}

.pickup-places {
  display: block;
}

.shh input:checked {
  background-color: red !important;
}
