@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700';
@font-face {
    font-family: 'Pacifico-Local';
    src: url('/assets/Pacifico.ttf') format('truetype');
}

body {
    background: #6ab38c;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
main {
    flex: 1 0 auto;
}
a {
  color: rgb(31, 171, 65);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.background {
    background-image: url('/assets/trees/tree5.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    z-index: -1;
    filter: blur(2px);
    opacity: 0.15;
}
.background-sales {
  background-image: url('/assets/trees/tree10.jpg');
}
header {
    padding: 0 5px;
    text-align: center;
}
nav {
    display: inline-block;
    width: 100%;
    max-width: 960px;
    text-align: center;
}
nav a {
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    transition: background 0.2s;
    color: black;
    font-size: 1.5em;
}
nav a:hover {
    text-decoration: none;
}
nav .logo {
  transition: all .3s ease;
  padding: 100px 75px 0 75px;
  margin-top: -105px;
  background: rgba(240,240,240,0.875);
  height: 75px;
  border-radius: 50%;
}
nav .logo:hover {
  transform: scale(1.5);
}
nav .logo img {
  height: 75px;
}
h1 {
  font-family: 'Pacifico-Local', cursive;
  font-size: 3em;
  font-weight: normal;
}
h1 span {
  text-decoration: underline;
}
h1 span.percent {
  font-size: 0.6em;
  text-decoration: none;
}
h3 {
  font-size: 2.5em;
  margin-top: 0px;
  font-weight: 400;
  margin-bottom: 10px;
}
h1.headline {
  margin-top: 0;
  margin-bottom: 10px;
}
h3.subline {
  font-size: 2.5em;
  margin-top: 0px;
  font-weight: 300;
  margin-bottom: 10px;
}
.banner-container .btn {
  margin-top: 25px;
  position: absolute;
  bottom: -26px;
}
.banner-container .etree-presents {
  margin: 0;
  font-size: 1.3em;
}
@media(max-width: 900px){
  h1.headline {
    font-size: 2em;
  }
  h3.subline {
    font-size: 1.5em;
  }
}
.underline {
  text-decoration: underline;
}
textarea {
  display: block;
  width: 100%;
  padding: 10px 5px;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.floaty-content-box {
    background: rgb(250,250,250);
    box-sizing: border-box;
    border: 5px solid #e2e2e2;
    padding: 60px;
    margin: 25px 0;
    box-shadow: 0 0 2px rgba(0,0,0,0.2), 0 3px 2px rgba(0,0,0,0.2);
}
.center-text {
  text-align: center;
}
.left-text {
  text-align: left;
}
@media (max-width:900px) {
  .floaty-content-box {
    width: 100%;
    padding: 20px;
  }
}
.floaty-content-box h1:first-of-type {
  margin-top: 0;
}
.pitch {
  background: rgb(250,250,250);
  padding: 80px 0;
  padding-bottom: 30px;
}
.columns {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.columns .box {
  padding: 20px;
  width: 33.33%;
  box-sizing: border-box;
}
.columns .box h1,
.columns .box h2,
.columns .box h3,
.columns .box h4,
.columns .box h5 {
  margin-top: 0;
}
@media(max-width:600px){
  .columns .box h1 {
    margin-bottom: 0;
  }
}
.columns .box p.pro {
  text-align: center;
  font-size: 1.3em;
  color: rgb(77, 152, 95);
  font-weight: bold;
  margin-bottom: 0;
}
@media(max-width:900px){
  .columns .box {
    width: 100%;
  }
}
.prelaunch-container, .banner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 365px);
  min-height: 400px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
@media(max-width: 900px){
  .prelaunch-container {
    height: auto;
    min-height: auto;
  }
}
.banner-container {
  height: auto;
  color: white;
  padding: 35px 20px;
}
.banner-container .selling-props {
  width: 100%;
  max-width: 767px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 25px;
}
@media(max-width: 900px) {
  .banner-container .selling-props {
    flex-direction: column;
  }
  .banner-container .selling-props .selling-text {
    order: 2;
  }
}
.banner-container .selling-props * {
  flex: 1;
}
.banner-container .selling-props p {
  margin: 35px 0;
  font-weight: 600;
}
@media(max-width: 900px) {
  .banner-container .selling-props p {
    margin: 10px 0;
  }
  .banner-container .selling-props .selling-text:last-of-type p:first-of-type {
    margin-top: 0;
  }
}
.banner-container .selling-props img {
  height: 200px;
  object-fit: contain;
}
@media(max-width: 900px) {
  .banner-container .selling-props img {
    height: 150px;
  }
}
.case p {
  font-size: 1.1em;
}

table {
  border-collapse: collapse;
}
table tr th,
table tr td {
  padding: 15px 5px;
  display: table-cell;
  vertical-align: middle;
}

.order-table {
  width: 100%;
}
@media(max-width:600px){
  .order-table {
    width: 100%;
    max-width: 100%;
  }
}
.order-table tr:first-of-type th {
  border-bottom: 1px solid #e2e2e2;
}

.order-table tr:last-of-type td {
  font-size: 1.2em;
  border-top: 1px solid #e2e2e2;
}

.order-table tr td:nth-child(2) {
    text-align: right;
}

.price-table {
  font-size: 1.2em;
  margin: 30px auto;
  border-collapse: collapse;
  min-width: 460px;
  border: 2px solid #e2e2e2;
}
@media(max-width:900px){
  .price-table {
    max-width: 100%;
    min-width: 100%;
  }
}
.price-table tr {
  border-bottom: 1px solid #e2e2e2;
}
.price-table tr th,
.price-table tr td {
  padding: 15px 5px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 2px;
  width: 180px;
}
.price-table tr td:last-child {
  font-weight: 600;
}
@media(max-width:600px){
  .price-table tr td:first-child,
  .price-table tr th:first-child {
    display: none;
  }
}
.price-table.striped>tbody>tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.launch-logo {
  max-width: 280px;
}
.sign-up-bar {
  width: 100%;
  padding: 40px 20px;
  background: rgba(51, 51, 51, 0.85);
  color: white;
  box-sizing: border-box;
  text-align: center;
}
.sign-up-bar h2 {
  margin-top: 0;
}
.prelaunch-form input[type="email"] {
    width: 350px;
    max-width: 100%;
    padding: 12px;
    font-size: 1.2em;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.07);
    display: inline-block;
}
@media(max-width: 900px){
  .prelaunch-form input {
    width: 100%;
    tom: 10px;
  }
}
.pitch .sign-up-bar {
  margin-bottom: 50px;
}
.sign-up-form input {
  margin-bottom: 20px;
}
button,
a.btn {
    padding: 13px 20px;
    font-size: 1.2em;
    background: rgb(77, 152, 95);
    color: white;
    outline: none;
    border: 0;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-family: inherit;
}
button:hover,
a.btn:hover {
  background: #306f3f;
}
button.large,
a.btn.large {
  padding: 13px 30px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"] {
  display: block;
  margin: 0;
  width: 100%;
  max-width: 250px;
  padding: 10px 5px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  margin-bottom: 10px;
}
@media(max-width: 900px){
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  input[type="number"] {
    max-width: none;
  }
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="number"]:focus
 {
  outline: none;
}
footer {
  background: rgba(51, 51, 51, 1);
  font-size: 0.9em;
  text-align: center;
  color: white;
  padding: 15px 20px;
}
footer a {
  color: rgb(154, 216, 169);
}
footer.floaty-content-box {
  margin-bottom: 0;
}
.cookieNotice {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-size: 0.75em;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: rgba(51, 51, 51, 0.3);
  border: 1px solid rgb(77, 152, 95);
  color: white;
  padding: 10px;
  transition: all .3s ease;
}
.cookieNotice:hover {
  background: rgba(51, 51, 51, 1);
  border-color: #306f3f;
}
.cookieNotice span {
  padding: 5px 10px;
  background: rgb(77, 152, 95);
  margin-left: 15px;
  cursor: pointer;
}
.cookieNotice span:hover {
  background: #306f3f;
}
@media(max-width: 900px){
  .cookieNotice {
    width: 100%;
    background: rgba(51, 51, 51, 0.9);
    text-align: center;
    bottom: 0;
    left: 0;
  }
}
.hidden {
  opacity: 0;
}

/* SALES */

.sales-container {
  background: rgb(250,250,250);
  box-sizing: border-box;
  padding: 60px 0;
}
@media(max-width: 600px){
  .sales-container {
    padding: 20px 0;
  }
}

.sales-container .floaty-content-box {
  margin-top: 0;
  border-left: 0;
  border-right: 0;
}

.sales-container section {
  margin-bottom: 70px;
}
.tree-size-h1 {
  margin: 0;
}
.trees {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
input[name="tree-size"],
input[name="pickup-place"] {
  display: none;
}
input[name="tree-size"]:checked+label,
input[name="pickup-place"]:checked+label {
  background: #306F3F;
  transform: scale(1.05);
}
input[name="tree-size"]:checked+label .checkmark-icon,
input[name="pickup-place"]:checked+label .checkmark-icon {
  display: inline-block;
}
.checkmark-icon {
  display: none;
}
.trees .tree-size-container {
  width: 16.6%;
  padding: 5px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.trees .tree-size-container .fa-tree {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.trees .tree-size {
  background: rgb(77, 152, 95);
  color: white;
  padding: 20px 0;
  cursor: pointer;
  overflow: hidden;
}
.trees .tree-size-highlighted {
  box-shadow: -5px -5px 0 rgb(243, 156, 18) inset, -5px 5px 0 rgb(243, 156, 18) inset, 5px 5px 0 rgb(243, 156, 18) inset, 5px -5px 0 rgb(243, 156, 18) inset;
}
.trees .tree-size:hover {
  background: rgb(70, 140, 87);
}
@media(max-width:1100px){
  .trees .tree-size-container {
    width: 33.3%;
  }
}
@media(max-width:600px){
  .trees .tree-size-container {
    width: 100%;
    max-width: 280px;
    margin-bottom: 10px;
  }
  .trees .tree-size-container .fa-tree {
    display: none;
  }
  .trees .tree-size {
    padding-top: 0;
  }
  .tree-size h4 {
    margin-top: 0;
  }
}
.trees .tree-size ul li:first-of-type {
  font-weight: 600;
}
.trees .tree-size h4 {
  background: #306f3f;
  padding: 10px;
  margin-bottom: 0;
}
.trees .tree-size-highlighted h4 {
    background: rgb(243, 156, 18);
}
.trees .tree-size ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: black;
  background: rgba(171, 220, 183, 1);
}
.tree-size ul li {
  padding: 10px 0;
}
.tree-size ul li:nth-child(odd) {
  background: #eee;
}
@media(max-width: 600px){
  .trees .tree-size ul {
    background: inherit;
    color: white;
  }
  .tree-size ul li {
    padding: 0;
    padding-top: 10px;
  }
  .tree-size ul li:nth-child(odd) {
    background: inherit;
  }
}
.tree-size a.btn {
  padding: 6px 12px;
  margin-top: 20px;
  font-weight: 600;
  background: transparent;
}
.tree-size-highlighted a.btn {
  background: rgb(243, 156, 18);
}
@media(max-width: 600px){
  .tree-size a.btn {
    font-size: 2em;
    margin-top: 10px;
  }
}

.sales-options {
  display: flex;
  justify-content: center;
}
@media(max-width: 900px){
  .sales-options {
    flex-direction: column;
  }
}

.sales-options .option {
  flex: 1;
  padding: 20px;
}

.pickup-places {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
}
.pickup-place-container {
  padding: 5px;
  width: 25%;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
@media(max-width: 1100px){
  .pickup-place-container {
    width: 50%;
  }
}
.pickup-content {
  padding: 10px;
}
.pickup-place img {
  width: 100%;
}
.pickup-place p {
  margin-top: 0px;
}
.pickup-place {
  background: #eee;
  cursor: pointer;
}
.pickup-place:hover {
  background: #e0e0e0;
}

i.tree-icon-Mikro {
  font-size: 1em;
}
i.tree-icon-Mini {
  font-size: 2em;
}
i.tree-icon-Lille {
  font-size: 3em;
}
i.tree-icon-Standard {
  font-size: 4em;
}
i.tree-icon-Stor {
  font-size: 5em;
}
i.tree-icon-Kæmpe {
  font-size: 7.5em;
}

/* Address stuff */
.customer-info h1:first-of-type {
  margin-bottom: 0;
}

.address-container,
.order-summary-container {
  display: flex;
}
@media(max-width: 600px){
  .address-container,
  .order-summary-container {
    flex-direction: column;
  }
}
.address {
  flex: 1;
  padding: 10px 20px;
}
@media(max-width: 600px){
  .address {
    padding: 10px 0;
  }
}
.address input,
.address-contact input {
  width: 100%;
  max-width: none;
}
label + input[type=text],
label + input[type=tel],
label + input[type=email],
label + input[type=password] {
  margin-top: 2px;
}
label .label-subtext {
  font-weight: lighter;
}
.address .pickup-place-container {
  text-align: center;
  width: 100%;
}
.address-contact,
.order-summary {
  flex: 1;
  padding: 0 20px;
  box-sizing: border-box;
}
@media(max-width: 600px){
  .address-contact,
  .order-summary {
    width: 100%;
    padding: 0;
  }
}
.address .flex-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.address .zip-input {
  width: 25%;
  box-sizing: border-box;
  padding-right: 10px;
  min-width: 100px;
}
.address .city-input {
  width: 75%;
  box-sizing: border-box;
}
@media(max-width: 900px){
  .address .city-input,
  .address .zip-input {
    width: 100%;
    padding: 0;
  }
  .address .zip-input {
    max-width: 110px;
  }
}
.address-contact button {
  margin-top: 15px;
}

/* FORM STUFF */
.control-group {
  text-align: left;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}

/* Modal window sample styles */
/* Vertical centering trick http://css-tricks.com/centering-in-the-unknown/ */
.modal::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin: 0;
}

.target {
  display: block;
  left: 0;
  position: fixed;
  top: 0;
  width: 0;
  height: 0;
  visibility: hidden;
  pointer-events: none;
 }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
  display: none;
  /* Fallback for legacy browsers */
  background-color: rgba(0,0,0,0.6);
}
@media(max-width:600px){
  .modal {
    bottom: auto;
    left: 10px;
    right: 10px;
  }
}
.modal > .content {
   text-align: left;
   display: inline-block;
   background-color: rgb(77, 152, 95);
   box-sizing: border-box;
   color: white;
   position: relative;
   max-width: 500px;
   padding: 20px;
 }

 .modal > .content .close-btn {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 15px;
    height: 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
 }

 /* Behaviour on legacy browsers */
.target:target + .modal {
    display: block;
}

/* Fallback for IE8 */
.modal.is-expanded {
   display: block;
}
.modal.is-expanded > .content {
  top: 50%;
  margin-top: -45px;
}

/* Making main page blurred when modal window open */
:root .target:target ~ .page-container {
   filter: blur(5px);
  -webkit-filter: blur(5px);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' ><filter id='blur5'><feGaussianBlur in='SourceGraphic' stdDeviation='5' /></filter></svg>#blur5"); // for Firefox
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
}
:root span[id="start"]:target ~ .page-container {
 filter: none;
 -webkit-filter: none;
}

/* Behavior on modern browsers */
:root .modal {
  display: block;
  background-color: transparent;
  transition: transform 0.3s cubic-bezier(0.5, -0.5, 0.5, 1.5);
  transform-origin: center center;
  transform: scale(0, 0);
}
:root .modal > .content {
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}
:root .target:target + .modal {
  transform: scale(1, 1);
}

.exact-zip {
  padding: 5px 10px;
  display: inline-block;
  font-weight: 700;
}
