<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="Køb Københanvs grønneste juletræ lige nu! Vi sælger de mest miljøvenlige træer i København, og så uden at det koster en bondegård! Vi har undersøgt markedet, og sørger for at sælge det billigste juletræ i hele den danske hovedstad. Vi leverer til døren i hele Storkøbenhavn --- nemt, miljøvenligt og med service i top. Vi leverer mellem d. 10. og d. 22. december og vores træer er Nordmann Ædelgran i høj kvalitet.">

        <meta property="og:title" content="Køb Københavns grønneste juletræ fra etree">
        <meta property="og:site_name" content="etree">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://etree.dk">
        <meta property="og:description" content="Køb Københanvs billigste juletræ lige nu! Vi har undersøgt markedet, og sørger for at sælge det billigste juletræ i hele den danske hovedstad. Vi leverer til døren i hele Storkøbenhavn --- nemt, miljøvenligt og med service i top. Vi leverer mellem d. 10. og d. 22. december og vores træer er Nordmann Ædelgran i høj kvalitet.">
        <meta property="og:locale" content="da_DK">

        <title>Københavns grønneste juletræ! - etree</title>
        <link rel="stylesheet" type="text/css" href="/assets/style.css">
        <script src="/assets/smooth-scroll.js"></script>

        <!-- Favicons -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/assets/favicons/manifest.json">
        <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        {{ &content }}
        <footer>
            &copy; 2016 etree IVS &mdash; CVR 38170147 &mdash; <a href="/bliv-afhentningssted">Bliv afhentningssted</a> &mdash; <a href="mailto:kontakt@etree.dk">kontakt@etree.dk</a>
        </footer>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-84047401-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script src="/assets/script.js"></script>

    </body>
</html>
