<html>
    <head>
        <style type="text/css">
            .container {
                padding: 25px;
                margin: 20px;
                background: rgb(250,250,250);
                border: 5px solid #e2e2e2;
            }
            .logo {
                text-align: center;
            }
            .unsubscribe {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="logo">
                <img src="http://etree.dk/assets/etreeLogo.png" alt="etree.dk" width="200px">
            </div>
            {{ &content }}
        </div>
        {{ #id }}
        <div class="unsubscribe">
            <a href="http://etree.dk/unsubscribe/{{ id }}">Klik her for ikke at modtage yderligere mails fra etree. Du afmelder dig også de 15% rabat.</a>
        </div>
        {{ /id }}
    </body>
</html>
