---
layout: default
---
<div class="prelaunch-container">
    {{ &content }}
</div>

</main><!-- ugly! -->

<div class="sign-up-bar">
    <h2>Du får 15% rabat på levering!</h2>
    <p>Skriv dig på vores liste, så kontakter vi dig, så snart vi starter juletræssalget &mdash; og du får 15% rabat på levering.</p>
    <form action="/subscribe" method="post" class="prelaunch-form">
        <label for="prelaunch-email-input">
            <input type="email" name="email" id="prelaunch-email-input">
        </label>
        <button type="submit">Skriv mig på listen!</button>
    </form>
</div>
<section class="pitch">
  <div class="case container center-text">
    <h3>Hvorfor skulle du vælge etree?</h3>
    <p>
      Du kunne jo også tage ud og bruge en eftermiddag på at købe et træ. Det er rigtigt nok.
    </p>
    <p>
      Fordelen ved at købe et træ på nettet er at det først og fremmest er nemmere og mere overskueligt. Du
      ved hvad du får for dine penge, og der er ikke nogen måde at blive snydt på.
    </p>
    <p>
      Hvis du godt kan lide stemningen (eller vil spare leveringsomkostningerne) er det også muligt at
      komme forbi en hyggelig afhentningsplads, hvis du køber her.
    </p>
    <p>
      Derudover er der nogle konkrete fordele ved at vælge etree.
    </p>
  </div>
  <div class="columns center-text">

    <div class="box">
      <p class="pro">Fordel 1</p>
      <h1>Byens billigste</h1>
      <p>
        Vi er blandt de billigste på markedet i København, ligemeget om man sammenligner med online eller fysiske
        sælgere.
      </p>
      <p>
        Det kan vi gøre, fordi vi ikke tror at verden skal blive ved med at fungere som den gør.
        Vi rykker på nogle ting, og gør vores leveringsmetoder mere effektive, så vi kan spare penge &mdash; og
        den besparelse går primært til at gøre træerne billigere.
      </p>
      <p>
        Hvis du vil spare endnu mere kan du skrive dig på vores liste nu og få 15% rabat på
        levering, der normalt koster 100 kr.
      </p>
    </div>
    <div class="box">
      <p class="pro">Fordel 2</p>
      <h1>Kvalitet</h1>
      <p>
        Det at vi er billigst, betyder ikke at vi går på komprimis med trækvaliteten!
        Vi arbejder med en erfaren grossist, der ved hvordan man får kvalitet for pengene.
      </p>
      <p>
        Vi sælger derfor kun træer af højeste kvalitet, og som du kan være bekendt at vise frem, om det er i firmaet
        eller til svigerfamilien.
      </p>
      <p>
        Vi skruer helt op for service ved levering og afhentning. Vi er altid klar på at hjælpe dig, hvis der går
        noget galt, og vi kommunikerer tydeligt og i god tid.
      </p>
    </div>
    <div class="box">
      <p class="pro">Fordel 3</p>
      <h1>Miljøvenligt!</h1>
      <p>
        etree stræber efter at sælge de <strong>grønneste</strong> træer i København.
      </p>
      <p>
        Det betyder at vi i år gør det muligt at købe økologiske, ikke-sprøjtede træer.
        Selv hvis du køber et ikke-økologisk træ, sørger vi for at sprøjtningen er begrænset så meget som muligt.
      </p>
      <p>
        Derudover prøver vi at innovere med leveringen, så vi lukker så lidt CO<sub>2</sub> ud som muligt, blandt
        andet ved at cykle træerne de sidste kilometer ud til levering.
      </p>
      <p>
        Man behøver hverken gå på kompromis med kvalitet, service eller pris for at være miljøvenlig!
      </p>
    </div>
  </div>
</section>
  <div class="sign-up-bar center-text">
    <h2>Skriv dig op nu!</h2>
    <p>Vi kontakter dig, så snart vi starter juletræssalget — og du får 15% rabat på levering.</p>
    <form action="/subscribe" method="post" class="prelaunch-form">
        <label for="prelaunch-email-input">
            <input type="email" name="email" id="prelaunch-email-input">
        </label>
        <button type="submit">Skriv mig på listen!</button>
    </form>
  </div>
  <section class="pitch">
  <div class="container center-text">
    <h3>Vores priser</h3>
    <p>
      Her er vores priser, så du selv kan sammenligne hvis du vil – vi regner med runde tal, så det er
      nemt at finde rundt i:
    </p>

    <table style="display:none;" class="price-table desktop">
      <thead>
        <tr>
          <th></th>
          <th>Mikro</th>
          <th>Mini</th>
          <th>Lille</th>
          <th>Standard</th>
          <th>Stor</th>
          <th>Kæmpe</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th>Højde</th>
            <td>50-75 cm</td>
            <td>75-110 cm</td>
            <td>110-150 cm</td>
            <td>150-200 cm</td>
            <td>200-250 cm</td>
            <td>250-300 cm</td>
          </tr>
          <tr>
            <th>Pris</th>
            <td>100 kr</td>
            <td>125 kr</td>
            <td>180 kr</td>
            <td>240 kr</td>
            <td>340 kr</td>
            <td>430 kr</td>
          </tr>
        </tbody>
      </table>

    <table class="price-table">
        <thead>
          <tr>
              <th>Størrelse</th>
              <th data-field="id">Højde</th>
              <th data-field="name">Pris</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Mikro</td>
            <td>50-75 cm</td>
            <td>100 kr</td>
          </tr>
          <tr>
            <td>Mini</td>
            <td>75-110 cm</td>
            <td>125 kr</td>
          </tr>
          <tr>
            <td>Lille</td>
            <td>110-150 cm</td>
            <td>180 kr</td>
          </tr>
          <tr>
            <td>Standard</td>
            <td>150-200 cm</td>
            <td>240 kr</td>
          </tr>
          <tr>
            <td>Stor</td>
            <td>200-250 cm</td>
            <td>340 kr</td>
          </tr>
          <tr>
            <td>Kæmpe</td>
            <td>250-300 cm</td>
            <td>430 kr</td>
          </tr>
        </tbody>
      </table>
    <p>
      Vi leverer også træer med fod, og hvis det har interesse skal vi nok hjælpe dig med at komme af med
      træet efter jul – selvfølgelig på miljøvenlig vis.
    </p>
    <p>
      Skriv dig på listen, så siger vi til, når vi starter salget.
    </p>
  </div>
  <div class="center-text">
    <img src="assets/etreeLogo.png" alt="" />
  </div>
</section>
