<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Københavns billigste juletræ! - etree</title>
        <link rel="stylesheet" type="text/css" href="/assets/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    </head>
    <body>
      <main>
        <div class="background"></div>
        <div class="prelaunch-container">

              {{ &content }}

              </div>

            </main>

              <footer>
                  &copy; 2016 etree &mdash; <a href="mailto:kontakt@etree.dk">kontakt@etree.dk</a>
              </footer>

    </body>
</html>
